*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.food_recipe{
    width: 500px;
    border: 2px solid darkred;
    color: darkred;
    text-align: center;
    margin: auto;
}

.title_recipe{
    text-align: center;
    font-size: 50px;
    border-bottom: 2px solid darkred;
    background-color: pink;
}

.img_recipe{
    background-color: pink;
    margin-bottom: -4px;
}

.description_recipe{
    text-align: left;
    padding: 5px 0px 10px 50px;
    border-top: 2px solid darkred;
    border-bottom: 2px solid darkred;
    background-color: pink;
    
}

.title_description_recipe{
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
}

.ingredients_recipe{
    border-bottom: 2px solid darkred;
    padding: 5px 0px 10px 50px;
    text-align: left;
    background-color: pink;

}

.title_ingredients_recipe{
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
}

.meatsauce_ingredients_recipe{
    padding: 0px 0px 5px 0px;
}

.steps_recipe{
    text-align: left;
    padding: 5px 0px 10px 50px;
    border-bottom: 2px solid darkred;
    background-color: pink;
}

.title_steps_recipe{
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
}

.appendix_recipe{
    text-align: left;
    padding: 5px 0px 10px 50px;
    border-bottom: 2px solid darkred;
    background-color: pink;
}

.mainpagelink{
    background-color: pink;
}








ul li{
    list-style: none;
}

ol li{
    list-style: none;
}